backendapis/backendapis/__pycache__/wsgi.cpython-38.pyc
backendapis/backendapis/__pycache__/urls.cpython-38.pyc
backendapis/backendapis/__pycache__/settings.cpython-38.pyc
backendapis/backendapis/__pycache__/__init__.cpython-38.pyc
db.sqlite3
backendapis/__pycache__/settings.cpython-38.pyc
backendapis/__pycache__/urls.cpython-38.pyc
tempupload/__pycache__/__init__.cpython-38.pyc
tempupload/__pycache__/admin.cpython-38.pyc
tempupload/__pycache__/apps.cpython-38.pyc
tempupload/__pycache__/apscheduler.cpython-38.pyc
tempupload/__pycache__/models.cpython-38.pyc
tempupload/__pycache__/serializers.cpython-38.pyc
tempupload/__pycache__/urls.cpython-38.pyc
tempupload/__pycache__/views.cpython-38.pyc
tempupload/migrations/__pycache__/__init__.cpython-38.pyc
tempupload/migrations/__pycache__/0001_initial.cpython-38.pyc
tempupload/migrations/__pycache__/0002_uploadedfile_expiration_time.cpython-38.pyc
tempupload/migrations/__pycache__/0003_uploadedfile_endpoint.cpython-38.pyc
tempupload/migrations/__pycache__/0004_uploadedfile_validity.cpython-38.pyc
tempupload/migrations/__pycache__/0005_uploadedfile_is_deleted.cpython-38.pyc
uploads/uploads/TheEdit_-_Made_with_Clipchamp_1.mp4
db.sqlite3
backendapis/__pycache__/settings.cpython-38.pyc
backendapis/__pycache__/urls.cpython-38.pyc
backendapis/__pycache__/__init__.cpython-38.pyc
backendapis/__pycache__/settings.cpython-38.pyc
backendapis/__pycache__/urls.cpython-38.pyc
